body {
  font-family: "DM Sans", sans-serif, "Times New Roman", Times, serif;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer hr {
  border-top: 1px solid #ccc;
}

.above-header-bar {
  background-color: transparent;
}

.above-header-left {
  margin-right: -4rem;
}

.header-container {
  height: 5.6rem;
}

.header-div {
  background-color: #e6f6fe;
  border: 0px;
  border-radius: 0.625rem;
}

.hero-container {
  margin-bottom: -9.1rem;
}
.hero-left{
  margin-top: -1rem;
}
.hero-heading {
  width: 102%;
  margin-bottom: 3rem;
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.06125rem;
  text-transform: capitalize;
}
.hero-heading-underline{
  width: 25rem;
  position: relative;
  top: -4rem;
  left: 10rem;
}
.hero-subheading {
  margin-bottom: 3rem;
  width: 29.1875rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 155%;
  letter-spacing: 0.01688rem;
}
.hero-img {
  margin-bottom: -9rem;
  position: relative;
  top: -5rem;
  left: -14rem;
  margin-right: 3rem;
  margin-top: -7rem;
  width: 65rem;
  height: 66rem;
}

.review-card {
  height: 9rem;
  top: 20px;
  left: 20px;
  width: 300px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.review-box {
  width: 23.375rem;
  height: 9.3125rem;
}
.review-text{
  margin-top: -0.5rem;
  padding: 0.5rem;
}

.review-card.show {
  opacity: 1;
}

.services-container {
  background-color: #e6f6fe;
  border: 0px;
  border-radius: 0.6rem;
  /* height: 22rem; */
}

.service-card {
  margin-top: 2rem;
}

.service-card-int {
  height: 14rem;
}

.form-container{
  margin-top: 5rem;
}
.form-heading {
  color: var(--Dark-Blue-Design, #011632);
  font-family: DM Sans;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 3.28125rem */
  text-transform: capitalize;
}
.form-underline{
  position: relative;
  top: -13rem;
  left: 8rem;
  width: 15rem;
}

.form-heading-div {
  margin-bottom: -10rem;
  width: 31.6875rem;
}

.form-subheading-div {
  width: 33.1875rem;
}

.form-subheading {
  color: var(--Body-text, #3c4959);
  font-family: DM Sans;

  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 1.74375rem */
  letter-spacing: 0.01688rem;
}

.form-input {
  margin-bottom: -3rem;
  width: 21rem;
}
.form-name-placeholder{
  color: #cfcfcf;
  position: relative;
  top: -2.5rem;
  left: 1rem;
}
.form-text-input{
  height: 3.5rem;
}
.input-icon{
  margin-right: 0.5rem;
  margin-top: 0.7rem;
  color: #cfcfcf;
}
.form-submit-btn{
  margin-top: 2rem;
  width: 21rem;
  height: 3.1rem;
}

.form-section-img {
  
  margin-left: 7rem;
  width: 75%;
}
.form-img-container{
  background-color: transparent;
  position: relative;
}


.form-img-container::before {
  border-radius: 0.5rem;
  content: "";
  position: absolute;
  top: -2.1rem;
  left: 26%;
  width: 75%;
  height: 100%;
  background: linear-gradient(
52.56deg,
rgba(37, 180, 248, 0),
rgba(37, 180, 248, 0.47) 51.04%,
#25b4f8
);
  z-index: -1;
}


.why-us-img {
  width: 24.5rem;
}

.why-us-div {
  background-color: #e6f6fe;
  padding: 2rem 4rem;
}

.why-us-heading {
  color: var(--Dark-Blue-Design, #011632);

  font-size: 1.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-transform: capitalize;
  width: 29rem;
}

.why-us-subheading {
  color: var(--Body-text, #3c4959);

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 1.55rem */
  letter-spacing: 0.015rem;
}

.why-us-list {
  margin-left: -2rem;
  list-style-image: none;
}

.why-us-list li {
  list-style-type: none;
  background-image: none;
  padding-left: 1px;
}

.why-us-list li::before {
  content: "";
  background-image: url("./assets/custome-bullet-point.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.why-us-list-item {
  margin-bottom: 0.75rem;
}

.why-us-btn {
  padding: 0.5rem 0.95rem;
}

.video-sec-heading {
  color: var(--Dark-Blue-Design, #011632);
  text-align: center;
  font-family: DM Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 3.125rem */
  text-transform: capitalize;
}

.video-frame {
  margin-top: 3rem;
  width: 64rem;
  height: 30rem;
}

.team-heading {
  font-family: DM Sans;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 3.28125rem */
  text-transform: capitalize;
}

.team-subheading {
  color: var(--Body-text, #3c4959);
  text-align: center;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 1.74375rem */
  letter-spacing: 0.01688rem;
}

.name-card {
  position: relative;
  top: -7rem;
  left: 0rem;
  margin-left: 0.5rem;
  width: 14.5rem;
  height: 5.625rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: var(
  --Linear-2,
  linear-gradient(
    96deg,
    rgba(37, 180, 248, 0.3) 0%,
    rgba(37, 180, 248, 0) 100%
  )
);
  backdrop-filter: blur(100px);
}

.card-name {
  color: var(--Secondary-color, #fff);
  font-family: DM Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}

.card-subname {
  color: var(--Secondary-color, #fff);
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}

.team-container {
  width: 100%;
  background-color: #e6f6fe;
  height: 34rem;
}

.team-card {
  height: 17rem;
  border-radius: 0.6rem;
}

.review-carousel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 30px;
}

.review {
  border-radius: 1.04169rem;
  background: #FFF;
  box-shadow: 0px 8.33333px 41.66666px 0px rgba(0, 0, 0, 0.08);
  display: none;
  animation: fade 5s linear infinite;
  padding: 5px;
  border: none;
  margin-bottom: 15px;
  position: relative;
}

.review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.review .reviewer-info {
  margin-top: 0.3rem;
  margin-left: 4.35rem;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }

  10%,
  90% {
    opacity: 1;
  }
}

.review-tile {
  border: none;
  height: 20rem;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
}

.testimonial-img {
  width: 4.3rem;
  height: 4.3rem;
}

.card-text {
  line-height: 155%;
  letter-spacing: 0.015rem;
}

.testimonial-tile-heading {
  margin-top: -0.5rem;
  margin-left: -2rem;
}

.blog-heading {
  color: var(--Dark-Blue-Design, #011632);
  font-family: DM Sans;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 3.28125rem */
  text-transform: capitalize;
}

.blog-subheading {
  color: var(--Body-text, #3c4959);
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 1.74375rem */
  letter-spacing: 0.01688rem;
}

.blog-img {
  width: 16rem;
}

.blog-card {
  width: 19.0625rem;
  height: 28.25rem;
  border-radius: 0.625rem;
  background: #e6f6fe;
}

.blog-tag-btn {
  margin-top: 1rem;
  margin-left: 0.5rem;
  background-color: black;
}

.blog-card-heading {
  font-size: 1.125rem;

  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.01688rem;
}

.blog-card-subheading {
  color: var(--Body-text, #3c4959);
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 1.74375rem */
  letter-spacing: 0.01688rem;
}

.blog-heading-text {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.blog-mr {
  margin-right: 5rem;
}
.faq-heading-texts{
  text-align: center;
}
.faq-heading{
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 125%;
    text-transform: capitalize;
}
.faq-subheading{
    
    letter-spacing: 0.015rem;
}
#faqAccordion{
  width: 39.375rem;
}
.accordion-container{
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-top: 2rem;
}
.map-container{
  text-align: center;
}
.map-iframe{
  width: 100%;
}
.header-item{
  color: var(--Dark-Blue-Design, #011632);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.015rem;
}


