@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
.doc-name-card{
  width: 95%;
  height: 27%;
  flex-shrink: 0;
  border-radius: 0.625rem;
  color: white;
  background: #2C4251;
  /* border: 0.5px solid #0d6efd; */
  backdrop-filter: blur(100px);
  position: absolute;
  bottom: 3%;
  left: 3%;
}
/* var(--Linear-2, linear-gradient(90, rgba(37, 180, 248, 0.30) 0%, rgba(16, 31, 37, 0) 100%)); */