body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-dm-sans: "DM Sans";
  --font-inherit: inherit;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-23xl: 42px;
  --font-size-5xl: 24px;
  --font-size-12xl: 31px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;

  /* Colors */
  --secondary-color: #fff;
  --dark-blue-design: #011632;
  --mid-blue-design: #1376f8;
  --body-text: #3c4959;
  --color-lightgray-100: #cfcfcf;
  --color-lightgray-200: #cecece;
  --light-blue-design: #e6f6fe;
  --color-deepskyblue: #25b4f8;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-mini: 15px;
  --gap-5xs: 8px;
  --gap-8xs: 5px;
  --gap-21xl: 40px;
  --gap-11xl: 30px;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-6xl: 25px;
  --padding-8xl: 27px;
  --padding-11xl: 30px;
  --padding-11xs: 2px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
}
