body {
  font-family: "DM Sans", sans-serif, "Times New Roman", Times, serif;
  overflow-x: hidden;
}

.footer {
  background-color: #f8f9fa;  
  padding: 20px 0;
}

.footer hr {
  border-top: 1px solid #ccc;
}

.above-header-bar {
  background-color: transparent;
}

.above-header-left {
  margin-right: -4rem;
}
.before-header-address{
  text-decoration: none;
  color: inherit;
}
.wa-link{
  text-decoration: none;
  color: #272b2f;
}

.header-container {
  height: 5.6rem;
  z-index: 1000;
  position: relative;
}

.header-div {
  background-color: #e6f6fe;
  border: 0px;
  border-radius: 0.625rem;
}
.logo-icon{
  width: 10%;
}

/* .hero-container {
  margin-bottom: -9.1rem;
} */
.hero-left{
  margin-top: 0%;
}

.hero-heading {
     
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.06125rem;
    text-transform: capitalize;
}
.hero-heading-underline{
  width: 25rem;
  position: relative;
  top: -4rem;
  left: 10rem;
}
.hero-subheading {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 155%;
    letter-spacing: 0.01688rem;
}
.hero-cta{
  margin-top: 5%;
}

.review-card {
  height: 9rem;
  top: 20px;
  left: 20px;
  width: 300px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.review-box {
  width: 90%;
  
}
.review-text{
  margin-top: -0.5rem;
  padding: 0.5rem;
}

.review-card.show {
  opacity: 1;
}

.services-container {
  background-color: #e6f6fe;
  border: 0px;
  border-radius: 0.6rem;
  /* height: 22rem; */
}

.service-card {
  margin-top: 2rem;
}

.service-card-int {
  height: 14rem;
}

.form-container{
  margin-top: 5rem;
}
.form-heading {
  color: var(--Dark-Blue-Design, #011632);
  font-family: DM Sans;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 3.28125rem */
  text-transform: capitalize;
}
.form-underline{
  position: relative;
  top: -13rem;
  left: 8rem;
  width: 15rem;
}

/* .form-heading-div {
 width: 31rem;
} */

.form-subheading-div {
  width: 33.1875rem;
}

.form-subheading {
    color: var(--Body-text, #3c4959);
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    letter-spacing: 0.01688rem;
}
/* .form-div{
  position: relative;
  top: -11rem;
} */
.form-input {
  margin-bottom: -1rem;
 
}
.form-name-placeholder1{
  color: #cfcfcf;
  position: relative;
  top: -2.5rem;
  left: 1rem;
}
.form-name-placeholder2{
  color: #cfcfcf;
  position: relative;
  top: -2.5rem;
  left: 1rem;
}
.form-name-placeholder3{
  color: #cfcfcf;
  position: relative;
  top: -2.5rem;
  left: 1rem;
}
.form-text-input{
  height: 3.5rem;
}
.input-icon{
  width: 0rem;
  position: relative;
  top: -2.25rem;
  left: 1rem;
}
.form-text-input::placeholder {
  position: relative;
  left: 2rem;
  color: #cfcfcf; /* Replace with your desired color value */
}
.form-submit-btn{
  margin-top: 2rem;
  width: 100%;
  height: 3.1rem;
}

.form-section-img {
  margin-left: 19%;
  width: 77%;
}

.form-img-container{
  margin-top: 13%;
  background-color: transparent;
  position: relative;
}


.form-img-container::before {
  border-radius: 0.5rem;
  content: "";
  position: absolute;
  top: -2.1rem;
  left: 26%;
  width: 77%;
  height: 100%;
  background: linear-gradient(
52.56deg,
rgba(37, 180, 248, 0),
rgba(37, 180, 248, 0.47) 51.04%,
#25b4f8
);
  z-index: -1;
}
.img-md-80{
  width: 80%;
}
.img-md-100{
width: 100%;
}
.why-us-container{
  background-color: #e6f6fe;
}
.why-us-div {
  background-color: #e6f6fe;
  padding: 2rem 4rem;
}

.why-us-heading {
  color: var(--Dark-Blue-Design, #011632);

  font-size: 1.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-transform: capitalize;
  width: 100%;
}

.why-us-subheading {
  color: var(--Body-text, #3c4959);

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 1.55rem */
  letter-spacing: 0.015rem;
}


.why-us-list{
  list-style: none;
}
ol, ul {
  padding-left: 0rem;
}
.why-us-list-item{
  padding-left: 2rem;
  background: url('./assets/cutom-bullet.png') left center no-repeat;
  margin-bottom: 1rem;
}

.why-us-btn {
  padding: 0.5rem 0.95rem;
}

.video-sec-heading {
  color: var(--Dark-Blue-Design, #011632);
  text-align: center;
  font-family: DM Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 3.125rem */
  text-transform: capitalize;
}

.video-frame {
  margin-top: 3rem;
  width: 100%;
  height: 25rem
}

.team-heading {
  font-family: DM Sans;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 3.28125rem */
  text-transform: capitalize;
}

.team-subheading {
  color: var(--Body-text, #3c4959);
  text-align: center;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 1.74375rem */
  letter-spacing: 0.01688rem;
}

.name-card {
  position: relative;
  top: -7rem;
  left: 0rem;
  margin-left: 0.5rem;
  width: 14.5rem;
  height: 5.625rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: var(
  --Linear-2,
  linear-gradient(
    96deg,
    rgba(37, 180, 248, 0.3) 0%,
    rgba(37, 180, 248, 0) 100%
  )
);
  backdrop-filter: blur(100px);
}

.card-name {
  color: var(--Secondary-color, #fff);
  font-family: DM Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}

.card-subname {
  color: var(--Secondary-color, #fff);
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}

.team-container {
  width: 100%;
  background-color: #e6f6fe;
  height: auto;
}

.team-card {
  height: 17rem;
  border-radius: 0.6rem;
}

.review-carousel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 10%;  
}
.mob-hero-review{
margin-left: 10%;
margin-right:10%
}

.review {
  border-radius: 1.04169rem;
  background: #FFF;
  /* box-shadow: 0px 8.33333px 41.66666px 0px rgba(0, 0, 0, 0.08); */
  display: none;
  animation: fade 5s linear infinite;
  padding: 5px;
  border: 3px solid #e6f6fe;
  margin-bottom: 15px;
  position: relative;
}

.review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.review .reviewer-info {
  margin-top: 0.3rem;
  margin-left: 4.35rem;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }

  10%,
  90% {
    opacity: 1;
  }
}

.review-tile {
  border: none;
  height: 20rem;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
}

.testimonial-img {
  width: 4.3rem;
  height: 4.3rem;
}
.testimonial-card-name{
  margin-left: 1.2rem;
}



.testimonial-tile-heading {
  margin-top: -0.5rem;
  margin-left: -2rem;
}

.blog-heading {
  color: var(--Dark-Blue-Design, #011632);
  font-family: DM Sans;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  /* 3.28125rem */
  text-transform: capitalize;
}

.blog-subheading {
  color: var(--Body-text, #3c4959);
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 1.74375rem */
  letter-spacing: 0.01688rem;
}

.blog-img {
  width: 93%;
}

.blog-card {
  margin-right: 2%;
  border-radius: 0.625rem;
  background: #e6f6fe;
}

.blog-tag-btn {
  margin-top: 1rem;
  margin-left: 0.5rem;
  background-color: black;
}

.blog-card-heading {
  font-size: 1.125rem;

  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.01688rem;
}

.blog-card-subheading {
  color: var(--Body-text, #3c4959);
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 1.74375rem */
  letter-spacing: 0.01688rem;
}

.blog-heading-text {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.blog-mr {
  margin-right: 5rem;
}
.faq-heading-texts{
  text-align: center;
}
.faq-heading{
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 125%;
    text-transform: capitalize;
}
.faq-subheading{
    
    letter-spacing: 0.015rem;
}
#faqAccordion{
  width: 39.375rem;
}
.accordion-container{
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-top: 2rem;
}
.map-container{
  text-align: center;
}
.map-iframe{
  width: 100%;
}
.header-item{
  color: var(--Dark-Blue-Design, #011632);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.015rem;
}
/* .accContainer{
  width: 50%;
   
} */
.accordion-button::after {
   background-image: url(./assets/plus-accordion.svg);
}
.accordion-button:not(.collapsed)::after{
   background-image: url(./assets/minus-accordion.svg );
}
.accordion-button:not(.collapsed){
   background-color: #1376f8;
   color: #ffffff;
}
.accordion-button:focus {
   z-index: 0;
   border-color: none;
   outline: 0;
   box-shadow: none;
}
.accordion-button{
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}
.accordion-body{
   background-color: #1376f8;
   color: #fff;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.accordion-flush .accordion-item .accordion-button{
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom: 10px;
}
.accordion-flush .accordion-item {
   border-bottom: 0;
}



.accordion-header:not(.collapsed):not(:focus) {
 border-bottom: 1px solid #dee2e6; /* Replace with your desired border style */
}

.accordion-header {
 border-bottom: none; /* Ensure no border by default */
}
.custom-link{
  text-decoration: none; /* Remove underline */
  color: black; /* Set the color to black, change as needed */
}
.nav-icons{
  text-decoration: none;
}

.nav-btns{
  color: #212529;
  background-color: white;
  padding: 1%;
  width: 8%;
}
.nav-btns2{
  color: white;
  background-color: #212529;
  padding: 1%;
  width: 8%;
}
.map-iframe{
  width: 100%;
  height: 6;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 39px;
  height: 39px;
}
.doc-name-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
}
.doc-name-card h4{
  font-size: 1.2rem;
}
.doc-name-card h5{
  font-size: 0.8rem;
}

.service-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.blog-article h4{
  font-size: 3rem;
}
.blog-article p{
  font-size: 1.5rem;
}



